* {
    margin: 0;
    padding: 0;
}

.headerBox {
    height: 50px;
    background: #1890ff;
}

.headerCenter {
    margin: 0 auto;
    height: 50px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navItem {
    margin-left: 50px;
    cursor: pointer;
    color: white;
}

.navItem:hover {
    text-decoration: underline;
}

.headerRight {
    display: flex;
    align-items: center;

}

.headpicBox {
    height: 100%;
    display: flex;
    align-items: center;
}

.out {
    margin-left: 15px;
    cursor: pointer;
}

/*去除a标签下划线*/
a {
    text-decoration: none;
}

/*去除未被访问的a标签的下划线*/
a:link {
    text-decoration: none;
}

/*去除已经被访问过的a标签的下划线*/
a:visited {
    text-decoration: none;
}

/*去除鼠标悬停时的a标签的下划线*/
a:hover {
    text-decoration: none;
}

/*去除正在点击的a标签的下划线（鼠标按下，尚未松开）*/
a:active {
    text-decoration: none;
}

/*去除获得焦点的a标签的下划线（被鼠标点击过）*/
a:focus {
    text-decoration: none;
}